body{
    margin: 0;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}
span{
    background : url("C:/Users/vikra/downloads/Web/pngwing.com.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /*--------------Third------------*/
    animation: animation 7s linear;
}
@keyframes animation{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        /*-------Fourth----------*/
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, -5000%);
        opacity: 0;
        /*-------Fourth----------*/
        filter: hue-rotate(720deg);
    }
}


.container{
	height: 100vh;
	width: 100vw;
	text-align:center;
	color:#333;
	background: pink;

}

h2{font-size: 72px;margin-bottom: 20px;}
a{font-size: 24px;text-decoration: none;padding: 5px 10px;
	margin-top: 20px;border:3px solid #ddd; border-radius: 10px;}
#no{color:red; background: #eee;margin-right: 50px;}
#yes{color:green;background: #eee;}

}
@keyframes image{
	0%{transform: scale(.5);}
	50%{transform: scale(1.5);}
	100%{transform: scale(.5);}
}

